<!DOCTYPE html>
<html>
  <head>
    <title>TypeRacer Redux</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

  <div class="wrapper">

    <h1>TypeRacer Redux</h1>
    <p id="welcome-p">Welcome,</p>
    <div class="message-div">
    <p id="message"></p>
    </div>

    <p id="tsrc"></p>

    <input id="tinp" type="text"/>

    <p id="res"></p>
    <p id="this-text"></p>

    <button id="retry">Retry</button><br>
    <button id="newtext">Take an other test</button><br>

    Hardcore: <input id="hardcore" type="checkbox"/><br>
    Dark background: <input id="bg-change" type="checkbox"/><br>
    <a href="/stats">Your stats</a>

  </div>

  <script>
    var guest_ip = '<%= guest_ip %>';
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/texts.js"></script>
  <script type="text/javascript" src="js/typeracer.js"></script>

  </body>
</html>
